.container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  border: 1px solid black;
  background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg");
  //   background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
}
.maincontent {
  height: 40%;
  width: 40%;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-left: 285px;
}
.btn {
  margin: 20px;
  width: 100px;
  color: white;
  background-color: navy;
  border-radius: 20px;
  padding: 10px;
}
.textFiled {
  border: none;
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid black;
}
