.heading {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.savebtn {
  height: 40px;
  width: 60px;
  padding: 10px;
  background-color: navy;
  color: white;
  margin: 26px;
  margin-left: 180px;
  margin-top: 3px;
}
.data {
  display: flex;
  flex-direction: column;
}
.addbtn {
  height: 40px;
  width: 100px;
  padding: 10px;
  background-color: navy;
  color: white;
  margin: 26px;
  margin-left: 180px;
  margin-top: 3px;
}
.uploadbtn{
  margin: 10px;
}
.addStudentbtn{
  height: 50px;
  margin: 10px;
  width: 100px;
  background-color: navy;
  color: white;
  border: 1 px solid black;
}
.updatecvbtn{
  margin: 10px;
}