// .heading {
//   display: flex;
//   flex-direction: column;
//   padding: 10px;
// }
.newbtn {
  width: 100px;
  border: 1px solid black;
  padding: 20px;
  background-color: navy;
  color: white;
  margin-left: 542px;
  margin-top: -50px;
  margin-bottom: 50px;
}
.edit {
  padding: 5px;
  background-color: navy;
  color: white;
  margin: 2px;
}
.Details {
  padding: 5px;
  background-color: navy;
  color: white;
  margin: 2px;
}
.heading {
  padding: 5px;
  background-color: navy;
  margin: 2px;
  color: aliceblue;
}
// .css-1ygcj2i-MuiTableCell-root {
//   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
//   font-weight: 500;
//   font-size: 0.875rem;
//   line-height: 1.5rem;
//   letter-spacing: 0.01071em;
//   display: table-cell;
//   vertical-align: inherit;
//   border-bottom: 1px solid rgba(224, 224, 224, 1);
//   text-align: left;
//   padding: 16px;
//   color: white;
// }
.css-1ygcj2i-MuiTableCell-root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 16px;
  color:white;
  // color: rgba(0, 0, 0, 0.87);
}